body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');
body {
  background: #222224;
}

.robot {
  width: 25vh;
  height: 25vh;
  margin-top: -12.5vh;
  margin-left: -12.5vh;
  position: absolute;
  top: 50%;
  left: -100%;
  background: #9d9ea2;
  border-radius: 50%;
  animation: rotator 2s forwards;
}
.robot:after,
.robot:before {
  content: '';
  background: #222224;
  position: absolute;
}
.robot:after {
  width: 100%;
  height: 0.5vh;
  top: 48%;
  left: 0;
}
.robot:before {
  width: 30%;
  height: 30%;
  top: 10%;
  right: 15%;
  border-radius: 50% 70%;
}

.word {
  color: #9d9ea2;
  position: absolute;
  left: 50%;
  bottom: 10vh;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  font: 5vh Arial, sans-serif;
  font-family: 'Press Start 2P', cursive;
}

@keyframes rotator {
  0% {
    left: 0;
    transform: rotate(0);
  }
  100% {
    left: 50%;
    transform: rotate(360deg);
  }
}
@keyframes blockHider {
  0% {
    left: 0;
  }
  100% {
    left: 100%;
  }
}
